
		<table width="395" border="0" cellsacing="0" cellpadding="0">
            <tr>
                <td bgcolor="#E7E7E7">
                    <table width="453" height="302" border="0" cellpadding="5" cellspacing="1">
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">用户名:</td>
          	            <td width="309" bgcolor="#FFFFFF">别无所求</td>
                    </tr>
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">生日:</td>
          	            <td width="309" bgcolor="#FFFFFF">xxxx年xx月xx日</td>
                    </tr>
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">性别：</td>
          	            <td width="309" bgcolor="#FFFFFF">
          	            	女
          	            </td>
                    </tr>
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">邮箱：</td>
          	            <td width="309" bgcolor="#FFFFFF">888888@qq.com</td>
                    </tr>
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">爱好</td>
          	            <td width="309" bgcolor="#FFFFFF">
          	            	<p>读书、下棋、音乐、旅游</p>
          	            </td>
                    </tr>
                    <tr>
          	            <td width="79" bgcolor="#FFFFFF">座右铭：</td>
          	            <td width="309" bgcolor="#FFFFFF">
          	            	<textarea rows="8" cols="30">三更灯火五更鸡，
          	            		正是男儿读书时。
          	            		黑发不知勤学早，
          	            		白首方悔读书迟。</textarea>
          	            </td>
                    </tr>                 
                </table>
                </td>
            </tr>
        </table> 
	